<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Doctor_id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.date %></td>
    <td><%= appointment.time %></td>
    <td><%= appointment.doctor_id %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>


